.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.755);
  transition: color 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.825);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px
}

.pokeballImage {
  width: 30%;
  align-self: center;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;

}

.field input {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgba(0, 0, 0, 0.755);
  margin-top: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: 25px;
  transition: border-color 0.3s ease;
  width: 300px;
}

.errors {
  color: #e74c3c;
  margin-top: 5px;
  margin-bottom: 10px;
}

.typesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px; 
}

.typesContainer select {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #2980b9;
  border-radius: 4px;
  background-color: #3498db;
  color: white;
  overflow: hidden;
  font-size: 25px;
  width: 200px;
}

.input.error {
  border-color: #e74c3c;
}

.typesContainer select option {
  background-color: #3498db;
  border: 2px solid #2980b9;
  color: white;
  padding: 8px;
  transition: background-color 0.3s ease;
  font-size: 22px;
}

.typesContainer select option:checked {
  background-color: #2980b9;
}

.typesContainer select:hover {
  border-color: white;
  height: auto;
}

.typesContainer select:active {
  background-color: #2980b9;
}

.button {
  width: 50%;
  background-color: #3498db;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
  margin-top: 15px;
  align-self: center;
}

.button:hover {
  background-color: #2980b9;
}