.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 10px; /* Añadido un relleno para mejorar la apariencia */
}

.logo {
  width: 250px; /* Reducido el ancho del logo */
  margin-left: 10px; /* Ajustado el margen izquierdo */
}

.wrapperLinks {
  display: flex;
  padding-left: 10px; /* Ajustado el espaciado izquierdo */
}

.navLeft {
  margin-left: 5px; /* Ajustado el margen izquierdo */
}

.linkRouter {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  font-size: 30px; /* Ajustado el tamaño de la fuente para mejor adaptabilidad */
  text-decoration: none;
  color: #ecf0f1;
  margin: 5px; /* Ajustado el margen */
  background-color: #3498db;
  border-radius: 20px; /* Reducido el radio del borde */
  padding: 7px 18px; /* Ajustado el espaciado interior */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.linkRouter:hover {
  color: #ffffff;
  background-color: #2980b9;
}

/* Nuevo estilo para el SearchBar */
.navRight {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Ajustado el margen derecho */
}



/* Nuevos estilos para dispositivos medianos (hasta 900px) */
@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .wrapperLinks {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .logo {
    margin-left: 0;
    margin-bottom: 10px;
    width: 200px; /* Reducir el ancho del logo */
  }

  .navRight {
    margin-right: 0;
    margin-top: 10px;
  }

  .linkRouter {
    font-size: 20px;
    margin: 5px 0;
  }
}

/* Nuevos estilos para dispositivos pequeños (hasta 768px) */
@media only screen and (max-width: 768px) {
  .container {
    /* Ajustes adicionales según sea necesario para pantallas más pequeñas */
    padding: 5px;
  }

  .wrapperLinks {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .logo {
    width: 150px; /* Reducir aún más el ancho del logo */
  }

  .navRight {
    margin-right: 0;
    margin-top: 5px;
  }

  .linkRouter {
    font-size: 18px; /* Reducir el tamaño de la fuente */
    margin: 3px 0;
    padding: 5px 12px; /* Ajustar el espaciado interior */
  }
}